#!/bin/sh

set -e


if [ -e /usr/share/debconf/confmodule ] ; then
	. /usr/share/debconf/confmodule
fi

config_to_debconf () {
	if [ -f /etc/msmtpq-ng.rc ]; then
		var=$(grep ^MSMTP_SEND_DELAY /etc/msmtpq-ng.rc | awk '{ FS='='; print $2 }'|awk '{ print $1}')
		if [ -n "$var" ]; then
			db_set msmtpq-ng/send_delay $var
		else
			db_set msmtpq-ng/send_delay 0
		fi

		var=$(grep ^MSMTP_MAXIMUM_QUEUE_LIFETIME /etc/msmtpq-ng.rc | awk '{ FS='='; print $2 }'|awk '{ print $1}')
		if [ -n "$var" ]; then
			db_set msmtpq-ng/maximum_queue_lifetime $var
		else
			db_set msmtpq-ng/maximum_queue_lifetime 345600
		fi
	fi
	db_input medium msmtpq-ng/send_delay || true
	db_input low msmtpq-ng/maximum_queue_lifetime || true
	db_go
}


config_to_debconf
db_stop

