#!/bin/sh

set -e


if [ -e /usr/share/debconf/confmodule ] ; then
	. /usr/share/debconf/confmodule
fi

config_to_debconf () {
	if [ -f /etc/msmtpq-ng.rc ]; then
		var=$(grep ^MSMTP_SEND_DELAY /etc/msmtpq-ng.rc |  cut -f2 -d=)
		if [ -n "$var" ]; then
			db_set msmtpq-ng/send_delay $var
		else
			db_set msmtpq-ng/send_delay 0
		fi

		var=$(grep ^MSMTP_MAXIMUM_QUEUE_LIFETIME /etc/msmtpq-ng.rc | cut -f2 -d=)
		if [ -n "$var" ]; then
			db_set msmtpq-ng/maximum_queue_lifetime $var
		else
			db_set msmtpq-ng/maximum_queue_lifetime 345600
		fi
	fi
	RCFILE=/etc/msmtpq-ng-msmtprc
	if [ -f "$RCFILE" ]; then
		var="$(grep ^host $RCFILE|cut -f2 -d\ )"
		if [ -n "$var" ]; then
			db_set msmtpq-ng/host "$var"
		else
			db_set msmtpq-ng/host localhost
		fi
		var="$(grep ^port $RCFILE|cut -f2 -d\ )"
		if [ -n "$var" ]; then
			db_set msmtpq-ng/port $var
		else
			db_set msmtpq-ng/port 25
		fi
		var=false
		grep -q '^auto_from on$' $RCFILE && var=true
		db_set msmtpq-ng/auto_from $var
		if [ "$var" = "true" ]; then
			unset var
			var="$(grep ^maildomain $RCFILE|cut -f2 -d\ )"
			if [ -n "$var" ]; then
				db_set msmtpq-ng/maildomain "$var"
			else
				db_set msmtpq-ng/maildomain "$(hostname --fqdn)"
			fi
		else
			db_set msmtpq-ng/maildomain ""
		fi
		var=false
		grep -q '^tls on$' $RCFILE && var=true
		db_set msmtpq-ng/tls $var
	fi
	db_input medium msmtpq-ng/send_delay || true
	db_input low msmtpq-ng/maximum_queue_lifetime || true
	db_input medium msmtpq-ng/host || true
	db_input low msmtpq-ng/port || true
	db_input low msmtpq-ng/auto_from || true
	db_input low msmtpq-ng/maildomain || true
	db_input medium msmtpq-mta/tls || true
	db_go
}


config_to_debconf
db_stop

