#!/usr/bin/make -f

override_dh_auto_install:
	mkdir -p debian/tmp
	cp README.md debian/tmp/README
	cp debian/changelog debian/tmp/changelog
	cp -r msmtpq-ng debian/tmp/
	mv debian/tmp/msmtpq-ng-mta/README.msmtpq-ng debian/tmp/msmtpq-ng/README
	mkdir -p debian/tmp/msmtpq-ng-mta
	cp msmtpq-ng-mta/msmtpq-ng-mta debian/tmp/msmtpq-ng-mta/
	cp msmtpq-ng-mta/msmtpq-ng-queue-mta debian/tmp/msmtpq-ng-mta/
	cp msmtpq-ng-mta/msmtpq-ng-mta.rc debian/tmp/msmtpq-ng-mta/
	cp msmtpq-ng-mta/msmtpq-ng-mta.rc debian/tmp/msmtpq-ng-mta/
	cp msmtpq-ng-mta/README.msmtpq-ng-mta debian/tmp/msmtpq-ng-mta/README
	cp msmtpq-ng-mta/sendmail-bs@.service debian/tmp/msmtpq-ng-mta/ms-mta-smtpd-systemd@.service
	cp msmtpq-ng-mta/sendmail-bs.socket debian/tmp/msmtpq-ng-mta/ms-mta-smtpd-systemd.socket
	mkdir -p debian/tmp/msmtpq-ng-mta/xinetd.d
	cp msmtpq-ng-mta/sendmail-bs.xinetd debian/tmp/msmtpq-ng-mta/xinetd.d/ms-mta-smtpd-inetd
	mkdir -p debian/tmp/msmtpq-ng-mta/cron.hourly
	cp msmtpq-ng-mta/sendmail-q.hourly debian/tmp/msmtpq-ng-mta/cron.hourly/msmtpq-ng-mta
	cp -r doc debian/tmp/

override_dh_auto_build:
	mkdir -p debian/tmp
	pod2man --center "" --date "" --release "" --section=1 \
		debian/newaliases.pod > debian/tmp/newaliases.1

override_dh_auto_clean:
	rm -f debian/tmp/newaliases.1
	dh_clean

%:
	dh $@
