#Q=/var/spool/msmtp
#LOG=syslog
#MSMTP_LOCK_DIR=/var/lock
#MSMTP_LOG_UMASK=057
#MSMTP_LOG_UMASK=007
#MSMTP_QUEUE_QUIET=true
#MSMTP_IGNORE_NO_RECIPIENTS=true
#MSMTP_SEND_DELAY=0
#MSMTPQ_NG=msmtpq-ng
#MSMTP_CONF=/etc/msmtpq-ng-mta-msmtprc
