[Unit]
Description=Accept SMTP connections and pass them to sendmail -bs on stdin/stdout

[Socket]
ListenStream=25
BindDevice=lo
Accept=yes
MaxConnections=10

[Install]
WantedBy=sockets.target
